nav{
    margin-bottom: 50px;
}
#box{

    padding: 50px;
    width: 70%;
   min-height: 90%;
    margin: auto;
    background-color: #f8f9fa;
    position: relative;
}
#box input{
    margin-left: 60px;
    width: 250px;
    height: 45px;
    margin-bottom: 20px;
    margin-top: 10px;
}
#box #save{
    width: 100px;
    height: 50px;
    background-color: #076A3A;
    position: absolute;
    right: 10px;
    bottom: 15px;
}
#box #sub{
    display: flex;
}
#box #add{
    margin-left: 20px;
   width: 50px;
   height: 45px;
   background-color: #076A3A;
   margin-bottom: 20px;
   margin-top: 10px;
}
#box ul{
    margin-left: 80px;
}
#pdf{
    display: flex;
    justify-content: space-between;
}
#pdf button{
    width: 50px;
    height: 45px;
    background-color: #076A3A;
}
time{
    color: #4141A7;
    position: absolute;
    bottom: 18px;
    right: 5px;
}
p{
    color: #3D2A7D;
}
.card-header{
    display: flex;
     justify-content: space-between;
    
     position: relative;
}
